<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tag-heading" data-cy="TagCreateUpdateHeading" jhiTranslate="javaSpringBootBackEndApp.tag.home.createOrEditLabel">
        Create or edit a Tag
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let wpTermIdRef = editForm.get('wpTermId')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_wpTermId"
            [ngbTooltip]="'javaSpringBootBackEndApp.tag.help.wpTermId' | translate"
            jhiTranslate="javaSpringBootBackEndApp.tag.wpTermId"
            >Wp Term Id</label
          >
          <input type="number" class="form-control" name="wpTermId" id="field_wpTermId" data-cy="wpTermId" formControlName="wpTermId" />
          @if (wpTermIdRef.invalid && (wpTermIdRef.dirty || wpTermIdRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!wpTermIdRef.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="javaSpringBootBackEndApp.tag.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (nameRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (nameRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let slugRef = editForm.get('slug')!;
        <div class="mb-3">
          <label class="form-label" for="field_slug" jhiTranslate="javaSpringBootBackEndApp.tag.slug">Slug</label>
          <input type="text" class="form-control" name="slug" id="field_slug" data-cy="slug" formControlName="slug" />
          @if (slugRef.invalid && (slugRef.dirty || slugRef.touched)) {
            <div>
              @if (slugRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="field_blogPosts" jhiTranslate="javaSpringBootBackEndApp.tag.blogPost">Blog Post</label>
          <select
            class="form-control"
            id="field_blogPosts"
            data-cy="blogPost"
            multiple
            name="blogPosts"
            formControlName="blogPosts"
            [compareWith]="compareBlogPost"
          >
            @for (blogPostOption of blogPostsSharedCollection(); track $index) {
              <option [ngValue]="blogPostOption">{{ blogPostOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
