<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-listing-image-heading"
        data-cy="ListingImageCreateUpdateHeading"
        jhiTranslate="javaSpringBootBackEndApp.listingImage.home.createOrEditLabel"
      >
        Create or edit a Listing Image
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let imageUrlRef = editForm.get('imageUrl')!;
        <div class="mb-3">
          <label class="form-label" for="field_imageUrl" jhiTranslate="javaSpringBootBackEndApp.listingImage.imageUrl">Image Url</label>
          <textarea class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl"></textarea>
          @if (imageUrlRef.invalid && (imageUrlRef.dirty || imageUrlRef.touched)) {
            <div>
              @if (imageUrlRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_thumbnailUrl" jhiTranslate="javaSpringBootBackEndApp.listingImage.thumbnailUrl"
            >Thumbnail Url</label
          >
          <textarea
            class="form-control"
            name="thumbnailUrl"
            id="field_thumbnailUrl"
            data-cy="thumbnailUrl"
            formControlName="thumbnailUrl"
          ></textarea>
        </div>

        @let altTextRef = editForm.get('altText')!;
        <div class="mb-3">
          <label class="form-label" for="field_altText" jhiTranslate="javaSpringBootBackEndApp.listingImage.altText">Alt Text</label>
          <input type="text" class="form-control" name="altText" id="field_altText" data-cy="altText" formControlName="altText" />
          @if (altTextRef.invalid && (altTextRef.dirty || altTextRef.touched)) {
            <div>
              @if (altTextRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let displayOrderRef = editForm.get('displayOrder')!;
        <div class="mb-3">
          <label class="form-label" for="field_displayOrder" jhiTranslate="javaSpringBootBackEndApp.listingImage.displayOrder"
            >Display Order</label
          >
          <input
            type="number"
            class="form-control"
            name="displayOrder"
            id="field_displayOrder"
            data-cy="displayOrder"
            formControlName="displayOrder"
          />
          @if (displayOrderRef.invalid && (displayOrderRef.dirty || displayOrderRef.touched)) {
            <div>
              @if (displayOrderRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!displayOrderRef.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="isFeatured"
            id="field_isFeatured"
            data-cy="isFeatured"
            formControlName="isFeatured"
          />
          <label class="form-check-label" for="field_isFeatured" jhiTranslate="javaSpringBootBackEndApp.listingImage.isFeatured"
            >Is Featured</label
          >
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="javaSpringBootBackEndApp.listingImage.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt" jhiTranslate="javaSpringBootBackEndApp.listingImage.updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_listing" jhiTranslate="javaSpringBootBackEndApp.listingImage.listing">Listing</label>
          <select
            class="form-control"
            id="field_listing"
            data-cy="listing"
            name="listing"
            formControlName="listing"
            [compareWith]="compareListing"
          >
            @if (editForm.get(['listing'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (listingOption of listingsSharedCollection(); track $index) {
              <option [ngValue]="listingOption">{{ listingOption.title }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['listing'])!.invalid && (editForm.get(['listing'])!.dirty || editForm.get(['listing'])!.touched)) {
          <div>
            @if (editForm.get(['listing'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_gallery" jhiTranslate="javaSpringBootBackEndApp.listingImage.gallery">Gallery</label>
          <select
            class="form-control"
            id="field_gallery"
            data-cy="gallery"
            name="gallery"
            formControlName="gallery"
            [compareWith]="compareGallery"
          >
            <option [ngValue]="null"></option>
            @for (galleryOption of galleriesSharedCollection(); track $index) {
              <option [ngValue]="galleryOption">{{ galleryOption.title }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
