<div>
  <h2 id="page-heading" data-cy="BlogPostHeading">
    <span jhiTranslate="javaSpringBootBackEndApp.blogPost.home.title">Blog Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="javaSpringBootBackEndApp.blogPost.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-blog-post"
        [routerLink]="['/blog-post/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" jhiTranslate="javaSpringBootBackEndApp.blogPost.home.createLabel">Create a new Blog Post</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="javaSpringBootBackEndApp.blogPost.home.search"
          >Search for Blog Post</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'javaSpringBootBackEndApp.blogPost.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch())">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch()) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (blogPosts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="javaSpringBootBackEndApp.blogPost.home.notFound">No Blog Posts found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="wpId">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.wpId">Wp Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.title">Title</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="slug">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.slug">Slug</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.content">Content</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="excerpt">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.excerpt">Excerpt</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="thumbnail">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.thumbnail">Thumbnail</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.status">Status</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="viewCount">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.viewCount">View Count</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="publishedAt">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.publishedAt">Published At</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.createdAt">Created At</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.updatedAt">Updated At</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="authorName">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.blogPost.authorName">Author Name</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (blogPost of blogPosts(); track trackId(blogPost)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/blog-post', blogPost.id, 'view']">{{ blogPost.id }}</a>
              </td>
              <td>{{ blogPost.wpId }}</td>
              <td>{{ blogPost.title }}</td>
              <td>{{ blogPost.slug }}</td>
              <td>{{ blogPost.content }}</td>
              <td>{{ blogPost.excerpt }}</td>
              <td>{{ blogPost.thumbnail }}</td>
              <td>{{ blogPost.status }}</td>
              <td>{{ blogPost.viewCount }}</td>
              <td>{{ blogPost.publishedAt | formatMediumDatetime }}</td>
              <td>{{ blogPost.createdAt | formatMediumDatetime }}</td>
              <td>{{ blogPost.updatedAt | formatMediumDatetime }}</td>
              <td>{{ blogPost.authorName }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/blog-post', blogPost.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/blog-post', blogPost.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(blogPost)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (blogPosts().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
