<div>
  <h2 id="page-heading" data-cy="ArticleCategoryHeading">
    <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.home.title">Article Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-article-category"
        [routerLink]="['/article-category/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" jhiTranslate="javaSpringBootBackEndApp.articleCategory.home.createLabel"
          >Create a new Article Category</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="javaSpringBootBackEndApp.articleCategory.home.search"
          >Search for Article Category</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'javaSpringBootBackEndApp.articleCategory.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch())">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch()) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  @if (articleCategories().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.home.notFound">No Article Categories found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.name">Name</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="slug">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.slug">Slug</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.description">Description</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="count">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.count">Count</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="parent.name">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.parent">Parent</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.articleCategory.articles">Articles</span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (articleCategory of articleCategories(); track trackId(articleCategory)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/article-category', articleCategory.id, 'view']">{{ articleCategory.id }}</a>
              </td>
              <td>{{ articleCategory.name }}</td>
              <td>{{ articleCategory.slug }}</td>
              <td>{{ articleCategory.description }}</td>
              <td>{{ articleCategory.count }}</td>
              <td>
                @if (articleCategory.parent) {
                  <div>
                    <a [routerLink]="['/article-category', articleCategory.parent.id, 'view']">{{ articleCategory.parent.name }}</a>
                  </div>
                }
              </td>
              <td>
                @for (articles of articleCategory.articleses; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/article', articles.id, 'view']">{{ articles.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/article-category', articleCategory.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/article-category', articleCategory.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(articleCategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
