<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (listingImage(); as listingImageRef) {
      <div>
        <h2 data-cy="listingImageDetailsHeading">
          <span jhiTranslate="javaSpringBootBackEndApp.listingImage.detail.title">Listing Image</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ listingImageRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.imageUrl">Image Url</span></dt>
          <dd>
            <span>{{ listingImageRef.imageUrl }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.thumbnailUrl">Thumbnail Url</span></dt>
          <dd>
            <span>{{ listingImageRef.thumbnailUrl }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.altText">Alt Text</span></dt>
          <dd>
            <span>{{ listingImageRef.altText }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.displayOrder">Display Order</span></dt>
          <dd>
            <span>{{ listingImageRef.displayOrder }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.isFeatured">Is Featured</span></dt>
          <dd>
            <span>{{ listingImageRef.isFeatured }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.createdAt">Created At</span></dt>
          <dd>
            <span>{{ listingImageRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ listingImageRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.listing">Listing</span></dt>
          <dd>
            @if (listingImage()!.listing) {
              <div>
                <a [routerLink]="['/listing', listingImage()!.listing?.id, 'view']">{{ listingImageRef.listing?.title }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.listingImage.gallery">Gallery</span></dt>
          <dd>
            @if (listingImage()!.gallery) {
              <div>
                <a [routerLink]="['/gallery', listingImage()!.gallery?.id, 'view']">{{ listingImageRef.gallery?.title }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/listing-image', listingImageRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
