<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (staticPage(); as staticPageRef) {
      <div>
        <h2 data-cy="staticPageDetailsHeading"><span jhiTranslate="javaSpringBootBackEndApp.staticPage.detail.title">Static Page</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ staticPageRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.title">Title</span></dt>
          <dd>
            <span>{{ staticPageRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.slug">Slug</span></dt>
          <dd>
            <span>{{ staticPageRef.slug }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.content">Content</span></dt>
          <dd>
            <span>{{ staticPageRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.status">Status</span></dt>
          <dd>
            <span>{{ staticPageRef.status }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.template">Template</span></dt>
          <dd>
            <span>{{ staticPageRef.template }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.menuOrder">Menu Order</span></dt>
          <dd>
            <span>{{ staticPageRef.menuOrder }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.createdAt">Created At</span></dt>
          <dd>
            <span>{{ staticPageRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ staticPageRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.author">Author</span></dt>
          <dd>
            <span>{{ staticPageRef.author?.login }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.staticPage.parent">Parent</span></dt>
          <dd>
            @if (staticPage()!.parent) {
              <div>
                <a [routerLink]="['/static-page', staticPage()!.parent?.id, 'view']">{{ staticPageRef.parent?.title }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/static-page', staticPageRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
