<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-listing-heading"
        data-cy="ListingCreateUpdateHeading"
        jhiTranslate="javaSpringBootBackEndApp.listing.home.createOrEditLabel"
      >
        Create or edit a Listing
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="javaSpringBootBackEndApp.listing.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (titleRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (titleRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let slugRef = editForm.get('slug')!;
        <div class="mb-3">
          <label class="form-label" for="field_slug" jhiTranslate="javaSpringBootBackEndApp.listing.slug">Slug</label>
          <input type="text" class="form-control" name="slug" id="field_slug" data-cy="slug" formControlName="slug" />
          @if (slugRef.invalid && (slugRef.dirty || slugRef.touched)) {
            <div>
              @if (slugRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (slugRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="javaSpringBootBackEndApp.listing.content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="javaSpringBootBackEndApp.listing.status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (statusRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="javaSpringBootBackEndApp.listing.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (emailRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let telephoneRef = editForm.get('telephone')!;
        <div class="mb-3">
          <label class="form-label" for="field_telephone" jhiTranslate="javaSpringBootBackEndApp.listing.telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
          @if (telephoneRef.invalid && (telephoneRef.dirty || telephoneRef.touched)) {
            <div>
              @if (telephoneRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let mobileRef = editForm.get('mobile')!;
        <div class="mb-3">
          <label class="form-label" for="field_mobile" jhiTranslate="javaSpringBootBackEndApp.listing.mobile">Mobile</label>
          <input type="text" class="form-control" name="mobile" id="field_mobile" data-cy="mobile" formControlName="mobile" />
          @if (mobileRef.invalid && (mobileRef.dirty || mobileRef.touched)) {
            <div>
              @if (mobileRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let websiteRef = editForm.get('website')!;
        <div class="mb-3">
          <label class="form-label" for="field_website" jhiTranslate="javaSpringBootBackEndApp.listing.website">Website</label>
          <input type="text" class="form-control" name="website" id="field_website" data-cy="website" formControlName="website" />
          @if (websiteRef.invalid && (websiteRef.dirty || websiteRef.touched)) {
            <div>
              @if (websiteRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let faxRef = editForm.get('fax')!;
        <div class="mb-3">
          <label class="form-label" for="field_fax" jhiTranslate="javaSpringBootBackEndApp.listing.fax">Fax</label>
          <input type="text" class="form-control" name="fax" id="field_fax" data-cy="fax" formControlName="fax" />
          @if (faxRef.invalid && (faxRef.dirty || faxRef.touched)) {
            <div>
              @if (faxRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let taxCodeRef = editForm.get('taxCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_taxCode" jhiTranslate="javaSpringBootBackEndApp.listing.taxCode">Tax Code</label>
          <input type="text" class="form-control" name="taxCode" id="field_taxCode" data-cy="taxCode" formControlName="taxCode" />
          @if (taxCodeRef.invalid && (taxCodeRef.dirty || taxCodeRef.touched)) {
            <div>
              @if (taxCodeRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let nameAliasRef = editForm.get('nameAlias')!;
        <div class="mb-3">
          <label class="form-label" for="field_nameAlias" jhiTranslate="javaSpringBootBackEndApp.listing.nameAlias">Name Alias</label>
          <input type="text" class="form-control" name="nameAlias" id="field_nameAlias" data-cy="nameAlias" formControlName="nameAlias" />
          @if (nameAliasRef.invalid && (nameAliasRef.dirty || nameAliasRef.touched)) {
            <div>
              @if (nameAliasRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let nameEnRef = editForm.get('nameEn')!;
        <div class="mb-3">
          <label class="form-label" for="field_nameEn" jhiTranslate="javaSpringBootBackEndApp.listing.nameEn">Name En</label>
          <input type="text" class="form-control" name="nameEn" id="field_nameEn" data-cy="nameEn" formControlName="nameEn" />
          @if (nameEnRef.invalid && (nameEnRef.dirty || nameEnRef.touched)) {
            <div>
              @if (nameEnRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let representativeRef = editForm.get('representative')!;
        <div class="mb-3">
          <label class="form-label" for="field_representative" jhiTranslate="javaSpringBootBackEndApp.listing.representative"
            >Representative</label
          >
          <input
            type="text"
            class="form-control"
            name="representative"
            id="field_representative"
            data-cy="representative"
            formControlName="representative"
          />
          @if (representativeRef.invalid && (representativeRef.dirty || representativeRef.touched)) {
            <div>
              @if (representativeRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let mainIndustryRef = editForm.get('mainIndustry')!;
        <div class="mb-3">
          <label class="form-label" for="field_mainIndustry" jhiTranslate="javaSpringBootBackEndApp.listing.mainIndustry"
            >Main Industry</label
          >
          <input
            type="text"
            class="form-control"
            name="mainIndustry"
            id="field_mainIndustry"
            data-cy="mainIndustry"
            formControlName="mainIndustry"
          />
          @if (mainIndustryRef.invalid && (mainIndustryRef.dirty || mainIndustryRef.touched)) {
            <div>
              @if (mainIndustryRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let managedByRef = editForm.get('managedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_managedBy" jhiTranslate="javaSpringBootBackEndApp.listing.managedBy">Managed By</label>
          <input type="text" class="form-control" name="managedBy" id="field_managedBy" data-cy="managedBy" formControlName="managedBy" />
          @if (managedByRef.invalid && (managedByRef.dirty || managedByRef.touched)) {
            <div>
              @if (managedByRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let businessTypeRef = editForm.get('businessType')!;
        <div class="mb-3">
          <label class="form-label" for="field_businessType" jhiTranslate="javaSpringBootBackEndApp.listing.businessType"
            >Business Type</label
          >
          <input
            type="text"
            class="form-control"
            name="businessType"
            id="field_businessType"
            data-cy="businessType"
            formControlName="businessType"
          />
          @if (businessTypeRef.invalid && (businessTypeRef.dirty || businessTypeRef.touched)) {
            <div>
              @if (businessTypeRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusYpRef = editForm.get('statusYp')!;
        <div class="mb-3">
          <label class="form-label" for="field_statusYp" jhiTranslate="javaSpringBootBackEndApp.listing.statusYp">Status Yp</label>
          <input type="text" class="form-control" name="statusYp" id="field_statusYp" data-cy="statusYp" formControlName="statusYp" />
          @if (statusYpRef.invalid && (statusYpRef.dirty || statusYpRef.touched)) {
            <div>
              @if (statusYpRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_foundedDate" jhiTranslate="javaSpringBootBackEndApp.listing.foundedDate">Founded Date</label>
          <div class="d-flex">
            <input
              id="field_foundedDate"
              data-cy="foundedDate"
              type="datetime-local"
              class="form-control"
              name="foundedDate"
              formControlName="foundedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_licenseModifiedDate" jhiTranslate="javaSpringBootBackEndApp.listing.licenseModifiedDate"
            >License Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_licenseModifiedDate"
              data-cy="licenseModifiedDate"
              type="datetime-local"
              class="form-control"
              name="licenseModifiedDate"
              formControlName="licenseModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="javaSpringBootBackEndApp.listing.address">Address</label>
          <textarea class="form-control" name="address" id="field_address" data-cy="address" formControlName="address"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_addressAlternative" jhiTranslate="javaSpringBootBackEndApp.listing.addressAlternative"
            >Address Alternative</label
          >
          <textarea
            class="form-control"
            name="addressAlternative"
            id="field_addressAlternative"
            data-cy="addressAlternative"
            formControlName="addressAlternative"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_latitude" jhiTranslate="javaSpringBootBackEndApp.listing.latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_longitude" jhiTranslate="javaSpringBootBackEndApp.listing.longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apiId" jhiTranslate="javaSpringBootBackEndApp.listing.apiId">Api Id</label>
          <input type="number" class="form-control" name="apiId" id="field_apiId" data-cy="apiId" formControlName="apiId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="javaSpringBootBackEndApp.listing.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt" jhiTranslate="javaSpringBootBackEndApp.listing.updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_author" jhiTranslate="javaSpringBootBackEndApp.listing.author">Author</label>
          <select
            class="form-control"
            id="field_author"
            data-cy="author"
            name="author"
            formControlName="author"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_categorieses" jhiTranslate="javaSpringBootBackEndApp.listing.categories">Categories</label>
          <select
            class="form-control"
            id="field_categorieses"
            data-cy="categories"
            multiple
            name="categorieses"
            formControlName="categorieses"
            [compareWith]="compareCategory"
          >
            @for (categoryOption of categoriesSharedCollection(); track $index) {
              <option [ngValue]="categoryOption">{{ categoryOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_locationses" jhiTranslate="javaSpringBootBackEndApp.listing.locations">Locations</label>
          <select
            class="form-control"
            id="field_locationses"
            data-cy="locations"
            multiple
            name="locationses"
            formControlName="locationses"
            [compareWith]="compareLocation"
          >
            @for (locationOption of locationsSharedCollection(); track $index) {
              <option [ngValue]="locationOption">{{ locationOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
