<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (category(); as categoryRef) {
      <div>
        <h2 data-cy="categoryDetailsHeading"><span jhiTranslate="javaSpringBootBackEndApp.category.detail.title">Category</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ categoryRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.name">Name</span></dt>
          <dd>
            <span>{{ categoryRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.slug">Slug</span></dt>
          <dd>
            <span>{{ categoryRef.slug }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.description">Description</span></dt>
          <dd>
            <span>{{ categoryRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.count">Count</span></dt>
          <dd>
            <span>{{ categoryRef.count }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.industryCode">Industry Code</span></dt>
          <dd>
            <span>{{ categoryRef.industryCode }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.displayOrder">Display Order</span></dt>
          <dd>
            <span>{{ categoryRef.displayOrder }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.createdAt">Created At</span></dt>
          <dd>
            <span>{{ categoryRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ categoryRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.parent">Parent</span></dt>
          <dd>
            @if (category()!.parent) {
              <div>
                <a [routerLink]="['/category', category()!.parent?.id, 'view']">{{ categoryRef.parent?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.category.listings">Listings</span></dt>
          <dd>
            @for (listings of categoryRef.listingses; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/listing', listings.id, 'view']">{{ listings?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/category', categoryRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
