<div>
  <h2 id="page-heading" data-cy="ListingImageHeading">
    <span jhiTranslate="javaSpringBootBackEndApp.listingImage.home.title">Listing Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="javaSpringBootBackEndApp.listingImage.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-listing-image"
        [routerLink]="['/listing-image/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" jhiTranslate="javaSpringBootBackEndApp.listingImage.home.createLabel">Create a new Listing Image</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="javaSpringBootBackEndApp.listingImage.home.search"
          >Search for Listing Image</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'javaSpringBootBackEndApp.listingImage.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch())">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch()) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  @if (listingImages().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="javaSpringBootBackEndApp.listingImage.home.notFound">No Listing Images found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="imageUrl">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.imageUrl">Image Url</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="thumbnailUrl">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.thumbnailUrl">Thumbnail Url</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="altText">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.altText">Alt Text</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="displayOrder">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.displayOrder">Display Order</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isFeatured">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.isFeatured">Is Featured</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.createdAt">Created At</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.updatedAt">Updated At</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="listing.title">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.listing">Listing</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="gallery.title">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.listingImage.gallery">Gallery</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (listingImage of listingImages(); track trackId(listingImage)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/listing-image', listingImage.id, 'view']">{{ listingImage.id }}</a>
              </td>
              <td>{{ listingImage.imageUrl }}</td>
              <td>{{ listingImage.thumbnailUrl }}</td>
              <td>{{ listingImage.altText }}</td>
              <td>{{ listingImage.displayOrder }}</td>
              <td>{{ listingImage.isFeatured }}</td>
              <td>{{ listingImage.createdAt | formatMediumDatetime }}</td>
              <td>{{ listingImage.updatedAt | formatMediumDatetime }}</td>
              <td>
                @if (listingImage.listing) {
                  <div>
                    <a [routerLink]="['/listing', listingImage.listing.id, 'view']">{{ listingImage.listing.title }}</a>
                  </div>
                }
              </td>
              <td>
                @if (listingImage.gallery) {
                  <div>
                    <a [routerLink]="['/gallery', listingImage.gallery.id, 'view']">{{ listingImage.gallery.title }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/listing-image', listingImage.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/listing-image', listingImage.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(listingImage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
