<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (galleryImage(); as galleryImageRef) {
      <div>
        <h2 data-cy="galleryImageDetailsHeading">
          <span jhiTranslate="javaSpringBootBackEndApp.galleryImage.detail.title">Gallery Image</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ galleryImageRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.galleryImage.title">Title</span></dt>
          <dd>
            <span>{{ galleryImageRef.title }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'javaSpringBootBackEndApp.galleryImage.help.image' | translate"
              jhiTranslate="javaSpringBootBackEndApp.galleryImage.image"
              >Image</span
            >
          </dt>
          <dd>
            @if (galleryImageRef.image) {
              <div>
                <a (click)="openFile(galleryImageRef.image, galleryImageRef.imageContentType)">
                  <img
                    [src]="'data:' + galleryImageRef.imageContentType + ';base64,' + galleryImageRef.image"
                    style="max-width: 100%"
                    alt="galleryImage"
                  />
                </a>
                {{ galleryImageRef.imageContentType }}, {{ byteSize(galleryImageRef.image) }}
              </div>
            }
          </dd>
          <dt>
            <span
              [ngbTooltip]="'javaSpringBootBackEndApp.galleryImage.help.imageUrl' | translate"
              jhiTranslate="javaSpringBootBackEndApp.galleryImage.imageUrl"
              >Image Url</span
            >
          </dt>
          <dd>
            <span>{{ galleryImageRef.imageUrl }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'javaSpringBootBackEndApp.galleryImage.help.linkUrl' | translate"
              jhiTranslate="javaSpringBootBackEndApp.galleryImage.linkUrl"
              >Link Url</span
            >
          </dt>
          <dd>
            <span>{{ galleryImageRef.linkUrl }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.galleryImage.altText">Alt Text</span></dt>
          <dd>
            <span>{{ galleryImageRef.altText }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'javaSpringBootBackEndApp.galleryImage.help.displayOrder' | translate"
              jhiTranslate="javaSpringBootBackEndApp.galleryImage.displayOrder"
              >Display Order</span
            >
          </dt>
          <dd>
            <span>{{ galleryImageRef.displayOrder }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.galleryImage.active">Active</span></dt>
          <dd>
            <span>{{ galleryImageRef.active }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'javaSpringBootBackEndApp.galleryImage.help.startAt' | translate"
              jhiTranslate="javaSpringBootBackEndApp.galleryImage.startAt"
              >Start At</span
            >
          </dt>
          <dd>
            <span>{{ galleryImageRef.startAt | formatMediumDatetime }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'javaSpringBootBackEndApp.galleryImage.help.endAt' | translate"
              jhiTranslate="javaSpringBootBackEndApp.galleryImage.endAt"
              >End At</span
            >
          </dt>
          <dd>
            <span>{{ galleryImageRef.endAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.galleryImage.openInNewTab">Open In New Tab</span></dt>
          <dd>
            <span>{{ galleryImageRef.openInNewTab }}</span>
          </dd>
          <dt><span jhiTranslate="javaSpringBootBackEndApp.galleryImage.gallery">Gallery</span></dt>
          <dd>
            @if (galleryImage()!.gallery) {
              <div>
                <a [routerLink]="['/gallery', galleryImage()!.gallery?.id, 'view']">{{ galleryImageRef.gallery?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/gallery-image', galleryImageRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
