<div>
  <h2 id="page-heading" data-cy="CachedContentHeading">
    <span jhiTranslate="javaSpringBootBackEndApp.cachedContent.home.title">Cached Contents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="javaSpringBootBackEndApp.cachedContent.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cached-content"
        [routerLink]="['/cached-content/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" jhiTranslate="javaSpringBootBackEndApp.cachedContent.home.createLabel"
          >Create a new Cached Content</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="javaSpringBootBackEndApp.cachedContent.home.search"
          >Search for Cached Content</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'javaSpringBootBackEndApp.cachedContent.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch())">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch()) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  @if (cachedContents().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="javaSpringBootBackEndApp.cachedContent.home.notFound">No Cached Contents found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="termSlug">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.cachedContent.termSlug">Term Slug</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="expired">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.cachedContent.expired">Expired</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="javaSpringBootBackEndApp.cachedContent.content">Content</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cachedContent of cachedContents(); track trackId(cachedContent)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cached-content', cachedContent.id, 'view']">{{ cachedContent.id }}</a>
              </td>
              <td>{{ cachedContent.termSlug }}</td>
              <td>{{ cachedContent.expired | formatMediumDatetime }}</td>
              <td>{{ cachedContent.content }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/cached-content', cachedContent.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/cached-content', cachedContent.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(cachedContent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
